[package]
name = "spl-elgamal-registry"
version = "0.1.1"
description = "Solana ElGamal Registry Program"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[features]
no-entrypoint = []
test-sbf = []

[dependencies]
bytemuck = { version = "1.21.0", features = ["derive"] }
solana-program = "2.1.0"
solana-zk-sdk = "2.1.0"
spl-pod = "0.5.0"
spl-token-confidential-transfer-proof-extraction = { version = "0.2.1", path = "../proof-extraction" }

[lib]
crate-type = ["cdylib", "lib"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.solana]
program-id = "regVYJW7tcT8zipN5YiBvHsvR5jXW1uLFxaHSbugABg"

[lints]
workspace = true
